.attendanceForm-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.attendance-form-row {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.attendanceForm-heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.attendanceForm-heading h1 {
  margin: 0;
}
