.View-hour-main {
  display: flex;
  padding: 20px;
  /* flex: 1; */
  flex-direction: column;
  background-color: var(--primary-text-white);
}

.View-hour-main .viewhour-event {
  background-color: var(--sidebar-neutral-light-gray);
  margin-top: 2.5px !important;
  color: var(--sidebar-title-primary-white);
  margin-bottom: 2.5px !important;
  border: none;
}

.View-hour-main .viewhour-overtime {
  background-color: var(--secondary-teal);
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  border: none;
}

.viewhour-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-text-white);
  text-align: center;
}

.indicate-color {
  display: flex;
  /* flex-direction: column; */
  gap: 18px;
  justify-content: space-between;
}

.indicate-color p {
  margin: 0px !important;
  display: flex;
  align-items: center;
  color: var(--sidebar-bg);
}

.color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
  border-radius: var(--border-radius);
}

.indicate-color {
  gap: 10px;
}

.black-box {
  background-color: var(--sidebar-neutral-light-gray);
}

.green-box {
  background-color: var(--secondary-teal);
}

.View-hour-main th[role="presentation"] {
  background-color: var(--table-heading-neutral-dark-blue);
  text-align: center;
}

.viewhour-employee-list {
  justify-content: end;
  display: flex;
  /* margin: 10px 0; */
}

.View-hour-input-dropdown {
  margin: 0;
  padding: 12px;
  font-weight: 800;
  border-radius: var(--border-radius) !important;
  color: var(--secondary-dark-gray);
  /* width: 100%; */
  outline: none;
}

.View-hour-input-dropdown .MuiSelect-select {
  padding: 0px;
  color: var(--secondary-dark-gray) !important;
  border: none;
  font-size: var(--font-size-small);
  outline: none;
}

.View-hour-input-dropdown .MuiSelect-icon {
  color: var(--secondary-dark-gray);
}

.viewhour-action {
  display: flex;
}

.action-icon {
  margin: 0 8px;
}

.edit-timesheet-data {
  color: var(--primary-button);
}

.delete-timesheet-data {
  color: var(--alert-red);
}

.viewhour-searchbar-main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.viewhours-officework {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 767px) {
  .View-hour-input-dropdown {
    padding: 11px;
  }
}

@media (max-width: 575px) {
  .viewhour-section {
    font-size: var(--font-size-small);
  }

  .viewhour-section h2 {
    font-size: 12px;
    margin: 7px 0;
  }

  .color-box {
    margin-right: 5px !important;
  }

  .View-hour-input-dropdown .MuiSelect-select {
    font-size: 12px;
  }

  .View-hour-input-dropdown {
    padding: 7px;
  }
}
