.task-list-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  /* height: 85vh; */
  /* max-width: 800px; */
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.task-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  display: flex;
  justify-content: space-between;
}

.task-input-dropdown {
  margin: 0;
  padding: 12px;
  font-weight: 800;
  border-radius: var(--border-radius) !important;
  color: var(--secondary-dark-gray);
  /* width: 100%; */
  outline: none;
}

.task-input-dropdown .MuiSelect-select {
  padding: 0px;
  color: var(--secondary-dark-gray) !important;
  border: none;
  font-size: var(--font-size-small);
  outline: none;
  width: 150px;
}

.task-input-dropdown .MuiSelect-icon {
  color: var(--secondary-dark-gray);
}

.task-filter-container {
  /* margin-bottom: 10px; */
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.task-filter-alltask-main {
  display: flex;
  gap: 10px;
  /* align-items: end; */
  flex-wrap: wrap;
}

.task-input-dropdown {
  /* margin-top: 17px; */
  padding: 10px;
  width: 200px;
  font-weight: 800;
  border-radius: var(--border-radius) !important;
  color: var(--secondary-dark-gray);
  /* width: 100%; */
  outline: none;
  height: max-content;
}

.task-input-dropdown .MuiSelect-select {
  padding: 0px;
  color: var(--secondary-dark-gray) !important;
  border: none;
  font-size: var(--font-size-small);
  outline: none;
}

.task-input-dropdown .MuiSelect-icon {
  color: var(--secondary-dark-gray);
}

.task-download-container button {
  /* width: 41px; */
  height: 40px;
  font-size: var(--font-size-h5);
  background-color: var(--primary-button);
  border-radius: var(--border-radius);
  color: var(--primary-text-white);
  border: none;
  margin-top: 18px;
  padding: 5px 20px;
  flex-wrap: wrap;
}

.task-download-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* align-items: end; */
}

.task-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-input-container input,
.task-input-container select {
  margin: 0;
  padding: 10px !important;
}

.task-officework {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.task-isWorkFromOffice {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-isWorkFromOffice input {
  margin: 0 !important;
}

.viewtask-action {
  display: flex;
}

.task-action-icon {
  margin: 0 8px;
}

.edit-task-data {
  color: var(--primary-button);
}

.delete-task-data {
  color: var(--alert-red);
}

@media (max-width: 767px) {
  .task-input-dropdown {
    padding: 11px;
  }

  .task-download-container button {
    margin-top: 14px;
  }

  .task-filter-container {
    gap: 10px;
  }
}

@media (max-width: 575px) {
  .viewtask-dropdown {
    padding: 7px;
  }

  .task-input-dropdown .MuiSelect-select {
    font-size: 12px;
  }

  .task-input-dropdown {
    padding: 7px;
  }

  .task-filter-container {
    flex-direction: column;
    gap: 10px;
  }

  .task-filter-alltask-main {
    gap: 10px;
  }

  .task-searchbar {
    /* justify-content: flex-start; */
    gap: 10px;
  }

  .task-input-container select {
    width: 100%;
  }

  .task-officework {
    gap: 5px;
  }
}
