.active {
  color: var(--alert-green);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.clock-in-btn {
  padding: 10px 20px;
  background-color: var(--secondary-teal);
  color: var(--sidebar-title-primary-white);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.timer {
  margin: 0 20px;
  font-size: var(--font-size-h1);
  font-weight: bold;
  color: var(--sidebar-bg);
}

.clock-in-h1 {
  text-align: center;
  color: var(--sidebar-bg);
}

.total-working-time {
  font-size: var(--font-size-h3);
  color: var(--sidebar-bg);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.clock-out-btn {
  padding: 10px 20px;
  background-color: var(--alert-red);
  color: var(--sidebar-title-primary-white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.clockin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-soft-gray);
  scrollbar-width: thin;
}

.clockin-table th,
.clockin-table td {
  padding: 20px 10px;
  font-size: var(--font-size-body);
  text-align: left;
  border-bottom: 1px solid var(--secondary-soft-gray);
}

.clockin-table th {
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-light-gray);
}

#scanner-visible {
  width: 100%;
}

#html5-qrcode-button-camera-stop {
  display: none !important;
}

#scanner-visible__dashboard_section {
  padding: 0 !important;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .clockin-table {
    overflow-y: auto;
  }

  .clockin-table td {
    padding: 16px;
  }

  .clockin-dropdown-menu {
    left: -15px;
  }
}

@media (max-width: 767px) {
  .clockin-dropdown-menu {
    left: -45px;
    padding: 8px;
  }

  .clockin-table th,
  .clockin-table td {
    padding: 12px;
    font-size: 12px;
  }

  .timer {
    font-size: var(--font-size-h3);
    margin: 0 8px;
  }

  .clock-in-btn,
  .clock-out-btn {
    padding: 7px;
  }
}

@media (max-width: 500px) {
  .clockin-dropdown-menu {
    white-space: nowrap;
    padding: 15px;
    font-size: 12px;
  }

  .clockin-dropdown-menu button {
    padding: 5px;
  }

  .clockin-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .clockin-table th,
  .clockin-table td {
    white-space: nowrap;
    padding: 12px;
    font-size: 12px;
  }

  .scanner-box {
    width: 300px !important;
    height: 300px !important;
  }

  .scanner-frame {
    width: 200px !important;
    height: 200px !important;
  }
}

.scanner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.scanner-box {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scanner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.scanner-frame {
  position: absolute;
  border: 2px solid var(--alert-yellow);
  width: 250px;
  border-radius: 4px;
  height: 250px;
  z-index: 2;
}

/* .scanner-frame::before,
.scanner-frame::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #ffcc00;
  border-radius: 8px;
} */

/* .scanner-frame::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.scanner-frame::after {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
} */

.bottom-left {
  left: 0;
  border-top: none;
  border-right: none;
}

.bottom-right {
  right: 0;
  border-top: none;
  border-left: none;
}

.scanner-close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 3;
}
