.template-list-container {
  padding: 20px;
  /* max-width: 800px; */
  margin: 0 auto;
  background-color: var(--primary-text-white);
}

.template-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.template-title {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.template-title h1 {
  margin-bottom: 10px;
}

.template-input input,
.template-input select {
  margin-top: 0px !important;
}

/* .custom-file-button-contract {
  padding: 10px 20px;
  background-color: var(--primary-button);
  color: var(--primary-text-white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.template-main-container h5 {
  color: var(--alert-yellow);
  font-size: var(--font-size-body);
  font-weight: 400;
}

/* .employeecontract-action {
  display: flex;
  justify-content: center;
  gap: 20px;
} */

/* .template-cancel-edit-btn {
  color: var(--primary-button) !important;
  border: 1px solid var(--primary-button) !important;
  cursor: pointer !important;
  background-color: var(--primary-text-white) !important;
  display: flex !important;
  align-items: center !important;
  margin-top: 5px;
} */

/* .employeecontract-action-icon {
  margin-right: 10px;
  font-size: var(--font-size-small);
} */

/* .no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.template-flex-file-action {
  display: flex;
  gap: 10px;
  width: 100%;
  height: max-content;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 10px;
}

.template-input {
  width: 100%;
}

/* .file-input {
  background-color: var(--primary-button);
  color: var(--primary-text-white);
  padding: 10px;
}

.file-input p {
  margin: 0;
} */

.template-input input {
  width: calc(100% - 24px);
}

/* .template-contract-input {
  width: 100%;
} */

.template-file-contract {
  display: flex;
  gap: 5px;
  height: max-content;
  padding: 10px 15px;
  align-items: center;
  border: 1px solid var(--neutral-light-gray);
  border-radius: var(--border-radius);
}

.template-custom-file-upload {
  border-radius: var(--border-radius);
  background-color: var(--primary-button);
  color: var(--primary-text-white);
  padding: 5px;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  width: 80px;
  margin: 0;
}

/* .template-custom-file-upload:hover {
  background-color: var(--button-hover);
} */

.template-fileupload-name {
  margin: 0px;
  color: var(--secondary-dark-gray);
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.template-upload {
  display: flex;
  gap: 10px;
}

.custom-dialog {
  width: 700px !important;
  max-width: 700px !important;
  height: 300px;
}

.custom-select-menu {
  max-height: 250px !important;
  overflow-y: auto !important;
}

.Template-selection-chip {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.template-input-dropdwon {
  border-radius: var(--border-radius) !important;
}

.filter-template-main {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.template-input-dropdown {
  padding: 10px;
  width: 200px;
  border-radius: var(--border-radius) !important;
  color: var(--secondary-dark-gray);
  outline: none;
  height: max-content;
}

.template-input-dropdown .MuiSelect-select {
  padding: 0px;
  color: var(--secondary-dark-gray) !important;
  border: none;
  font-size: var(--font-size-small);
  outline: none;
}

.template-input-dropdown .MuiSelect-icon {
  color: var(--secondary-dark-gray);
}

.template-input-container input,
.timesheet-input-container select {
  margin: 0;
  padding: 10px !important;
}

.template-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-template-button {
  background-color: var(--primary-button);
  color: var(--primary-text-white);
  border: none;
  padding: 5px;
  cursor: pointer;
}

.template-download {
  color: var(--primary-button);
  cursor: pointer;
}

.template-preview {
  cursor: pointer;
}

.Pending-template {
  background-color: var(--alert-green);
}

.disabled-icon {
  opacity: 0.4;
  cursor: not-allowed;
  color: var(--sidebar-hover);
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-modal {
  background: white;
  width: 90%;
  height: 90%;
  position: relative;
  overflow: hidden;
}

.fullscreen-close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
  color: var(--secondary-dark-gray);
  border: none;
  padding: 4px 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .company-employee-contract-dropdown-menu {
    left: -15px;
  }

  .template-title {
    gap: 5px;
  }
}

@media (max-width: 992px) {
  .template-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px !important;
    width: 100%;
  }

  .Employeecontract-file {
    padding: 6px;
  }

  .template-file-contract {
    padding: 10px 12px;
  }

  .template-custom-file-upload {
    padding: 4px;
  }
}

@media (max-width: 767px) {
  .company-employee-contract-dropdown-menu {
    left: -45px;
    padding: 8px;
  }

  .custom-file-button-file {
    font-size: 11px;
  }

  .template-title {
    gap: 10px !important;
  }

  .template-fileupload-name {
    font-size: 12px;
    font-size: 12px;
    padding: 0px;
  }

  .template-custom-file-upload {
    font-size: 12px;
    padding: 3px;
  }

  .selected-file-name {
    font-size: 12px;
  }

  .Employeecontract-file {
    padding: 12px 3px;
  }
  .timesheet-report-download-container button {
    margin-top: 14px;
  }

  .template-filter-container {
    gap: 10px;
  }

  .template-input-dropdown {
    padding: 8px;
  }

  .template-input-dropdown .MuiSelect-select {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .template-contract-input {
    width: 100% !important;
    box-sizing: border-box;
  }

  .template-main-container h5,
  .template-fileupload-name {
    font-size: 12px;
  }

  .template-custom-file-upload {
    padding: 4px;
  }

  .Employeecontract-file {
    padding: 7px 3px;
  }
}

@media (max-width: 575px) {
  .custom-file-button-file {
    padding: 11px !important;
  }

  .template-input input,
  .template-contract-input {
    width: 100%;
  }

  .template-file-contract {
    padding: 6px 10px;
    width: calc(100% - 20px);
  }

  .template-flex-file-action {
    flex-direction: column !important;
    width: 100%;
  }
  .template-filter-container {
    flex-direction: column;
    gap: 5px;
  }

  .template-filter-container {
    gap: 10px;
  }
  .filter-template-main {
    gap: 10px;
  }
  .template-input-dropdown .MuiSelect-select,
  .timesheet-input-container {
    font-size: 12px;
  }
  .template-searchbar {
    gap: 10px;
  }
}

@media (max-width: 360px) {
  .template-flex-file-action {
    flex-direction: column;
    align-items: flex-start;
  }
}
