.client-qr-generator-container {
  padding: 20px;
  background-color: var(--primary-text-white);
}

.client-qr-generator-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  height: auto;
  width: auto;
}

.qr-code {
  display: none;
}

.client-qr-generator-section label {
  font-size: var(--font-size-h3);
}

.client-qr-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.client-qr-image {
  width: 100%;
  height: 100%;
}

.client-qr-download-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-button);
  color: white;
  padding: 6px;
  border-radius: 50%;
  font-size: 14px;
}

@media (max-width: 768px) {
  .client-qr-generator-section {
    width: 100%;
  }

  .client-generated-code {
    height: 50vh;
  }

  .location-qrgenerate-input {
    width: 100%;
  }

  .client-qr-generator-section label {
    font-size: var(--font-size-body);
  }

  .client-qr-generator-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .client-generate-qr-button button {
    font-size: 12px;
    padding: 10px;
  }

  .location-qr-download button {
    padding: 8px 12px;
    font-size: var(--font-size-body);
  }

  .client-generated-code {
    height: auto;
  }
}
