.absencesheet-list-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.absencesheet-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absencesheet-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.absencesheet-report-download-container {
  display: flex;
  gap: 10px;
}

.absence-input-dropdown {
  margin: 0;
  padding: 12px;
  font-weight: 800;
  border-radius: var(--border-radius) !important;
  color: var(--secondary-dark-gray);
  outline: none;
}

.absence-input-dropdown .MuiSelect-select {
  padding: 0px;
  color: var(--secondary-dark-gray) !important;
  border: none;
  font-size: var(--font-size-small);
  outline: none;
  width: 150px;
}

.absence-input-dropdown .MuiSelect-icon {
  color: var(--secondary-dark-gray);
}

.absence-filter-container {
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.absence-filter-main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.absence-input-dropdown {
  padding: 10px;
  width: 200px;
  font-weight: 800;
  border-radius: var(--border-radius) !important;
  color: var(--secondary-dark-gray);
  outline: none;
  height: max-content;
}

.absence-input-dropdown .MuiSelect-select {
  padding: 0px;
  color: var(--secondary-dark-gray) !important;
  border: none;
  font-size: var(--font-size-small);
  outline: none;
}

.absence-input-dropdown .MuiSelect-icon {
  color: var(--secondary-dark-gray);
}

.absence-download-container button {
  height: 40px;
  font-size: var(--font-size-h5);
  background-color: var(--primary-button);
  border-radius: var(--border-radius);
  color: var(--primary-text-white);
  border: none;
  margin-top: 18px;
  padding: 5px 20px;
  flex-wrap: wrap;
}

.absence-download-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.absence-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absence-input-container input,
.absence-input-container select {
  margin: 0;
  padding: 10px !important;
}

.absence-isWorkFromOffice {
  display: flex;
  align-items: center;
  gap: 5px;
}

.absence-officework {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.absence-isWorkFromOffice input {
  margin: 0 !important;
}

@media (max-width: 767px) {
  .absence-input-dropdown {
    padding: 11px;
  }

  .absence-download-container button {
    margin-top: 14px;
  }

  .absence-filter-container {
    gap: 10px;
  }
}

@media screen and (max-width: 575px) {
  .absencesheet-title {
    display: block;
  }
  .absencesheet-flex {
    flex-direction: column;
    align-items: start;
  }
  
  .absence-dropdown .MuiSelect-select {
    font-size: 12px;
  }
  .absence-dropdown {
    padding: 7px;
  }

  .absence-input-dropdown .MuiSelect-select {
    font-size: 12px;
  }

  .absence-input-dropdown {
    padding: 7px;
  }

  .absence-filter-container {
    flex-direction: column;
    gap: 5px;
  }

  .absence-filter-container {
    gap: 10px;
  }

  .absence-filter-main {
    gap: 10px;
  }

  .absence-searchbar {
    gap: 10px;
  }

  .absence-input-container select {
    width: calc(100% - 20px);
  }

  .absence-input-container select {
    width: 100%;
  }

  .absence-officework {
    gap: 5px;
  }
}
