.report-list-container {
  padding: 20px;
  /* max-width: 800px; */
  margin: 0 auto;
  background-color: var(--primary-text-white);
}

.report-list-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.company-action-icon {
  margin-right: 10px;
  font-size: var(--font-size-small);
}

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.report-list-download-container {
  display: flex;
  gap: 10px;
}

.report-list-input-container input,
.report-list-input-container select {
  border-radius: var(--border-radius);
  margin: 0;
  padding: 10px !important;
}

.report-list-download-container button {
  margin-top: 19px;
  padding: 12px 15px;
}

.report-list-input-dropdown {
  margin: 0;
  padding: 12px;
  font-weight: 800;
  border-radius: var(--border-radius) !important;
  color: var(--secondary-dark-gray);
  /* width: 100%; */
  outline: none;
}

.report-list-input-dropdown .MuiSelect-select {
  padding: 0px;
  color: var(--secondary-dark-gray) !important;
  border: none;
  font-size: var(--font-size-small);
  outline: none;
}

.report-list-input-dropdown .MuiSelect-icon {
  color: var(--secondary-dark-gray);
}

@media screen and (max-width: 992px) {
  .report-list-download-container button {
    margin-top: 17px;
  }
}

@media screen and (max-width: 767px) {
  .report-list-download-container button {
    margin-top: 14px;
  }
}

@media screen and (max-width: 575px) {
  .report-list-flex {
    display: block;
  }

  .report-list-download-container button {
    padding: 11px 10px !important;
  }

  .report-list-download-container button {
    margin-top: 19px;
  }
}

@media screen and (max-width: 450px) {
  .report-list-download-container button {
    max-height: 38px;
  }

  .report-list-download-container {
    flex-wrap: wrap;
  }
}
