.status-list-container {
  padding: 20px;
  /* max-width: 800px; */
  margin: 0 auto;
  background-color: var(--primary-text-white);
}

.status-list-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.viewstatus-action {
  display: flex;
  justify-content: right;
  margin: 10px 0;
}

@media screen and (max-width: 400px) {
  .status-list-flex {
    display: block;
  }
}
