.Holidaylist-list-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--primary-text-white);
}

.holidaylist-title {
  display: flex;
  gap: 20px;
  align-items: center;
  /* margin: 0 0 10px 0; */
}

.holidaylist-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.holidaylist-action {
  display: flex;
  gap: 20px;
}

.holiday-year-select {
  /* margin-top: 5px; */
  padding: 12px;
  font-weight: 800;
  border-radius: var(--border-radius) !important;
  color: var(--secondary-dark-gray);
  /* width: 100%; */
  outline: none;
}

.holiday-year-select .MuiSelect-select {
  padding: 0px;
  color: var(--secondary-dark-gray) !important;
  border: none;
  font-size: var(--font-size-small);
  outline: none;
}

.holiday-year-select .MuiSelect-icon {
  color: var(--secondary-dark-gray);
}

@media (max-width: 767px) {
  .holiday-year-select {
    padding: 11px;
  }
}

@media (max-width: 575px) {
  .holidaylist-flex {
    flex-wrap: wrap;
    margin: 5px 0;
  }

  .holidaylist-action {
    justify-content: end;
  }

  .holiday-year-select .MuiSelect-select {
    font-size: 12px;
  }

  .holiday-year-select {
    padding: 7px;
  }
}
